<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>GetList</servlet-name>
		<servlet-class>ua.kiev.prog.servlets.GetMessagesListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetList</servlet-name>
		<url-pattern>/get</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Add</servlet-name>
		<servlet-class>ua.kiev.prog.servlets.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Authorization</servlet-name>
		<servlet-class>ua.kiev.prog.servlets.AuthorizationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Authorization</servlet-name>
		<url-pattern>/authorization</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetUsersList</servlet-name>
		<servlet-class>ua.kiev.prog.servlets.GetUsersListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetUsersList</servlet-name>
		<url-pattern>/getUsersList</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
